* {
  box-sizing: border-box;
}

.page-header {
  background-color: #ff0;
}

.page-header__inner {
  display: flex;

}

.promo {
  padding: 10px;

}
 h1 {
  color: red;
 }

.promo__inner {
  text-align: center;
}